
  img {
    padding: 3rem calc((100vw - 1300px) / 2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 800px;
  
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    } 
  }
  
